@tailwind base;
@tailwind components;
@tailwind utilities;

/* Medical font smoothness */
body {
  @apply bg-slate-50 text-slate-800 antialiased;
}
@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-marquee {
  display: inline-block;
  animation: marquee 20s linear infinite;
}

